body {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.section {
height: 100vh;
min-height: 650px;
}

.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    &--hero {
      align-content: space-between;

    }
}

.title {
  font-size: 72px;
  color: #f9b43b;
  font-family: "Gagalin-Regular";

  &--black {
      color: #000;
  }
}