
.beast {
  background: url(./img/bg_beast.png) center center / cover no-repeat;
}

.beast__list {
  display: flex;
  margin-top: rem(55px);

  @include tablets {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  @include phones {
    flex-direction: column;
    margin-top: rem(35px);
    margin-left: 2%;
    margin-right: 2%;
  }
}

.beast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;

  @include phones {
    flex-direction: row;
    text-align: left;
  }
}

.best__text {

  @include phones {
    margin-left: rem(30px);
    margin-top: rem(50px);
  }

  &--margin-top-none {
    @include phones {
      margin-top: 0;
    }
  }
}

.beast__img-svg {
  width: rem(110px);
  height: rem(110px);
}

.beast__img-pic {
  padding-bottom: rem(10px);
}

.beast__title {
  font-size: rem(24px);
  color: #2f3234;
  font-family: "Lifehack-Medium";

  margin-top: 30px;
  margin-bottom: 25px;

  @include phones {
  margin-top: 0;
  }

}

.beast__desc {
  font-size: rem(14px);
  line-height: rem(24px);
  color: #2f3234;
  font-family: "Ubuntu";
  font-weight: 300;
}