.burgers {
    background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 45%, #f9b43b 75%);
}

.scroll-btn {
    display: inline-block;
    cursor: pointer;
    z-index: 99;
    &--next, 
    &--prev {
        position: absolute;
        top:50%;
        transform: translate(-50%);

    }

    &--next {
        right: -2rem;
    }

    &--prev {
        left: -2rem;
    }
}

.arrow-scroll {
    width: 30px;
    height: 18px;

    &--left {
        transform: rotate(-90deg);
    }
    &--right {
        transform: rotate(90deg);
    }
}


.slider {
    position: relative;
    display: flex;
    width: 100%;
}


.slider__frame {
    display: flex;
    overflow: hidden;
}

.slider__list {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;


}

.slider__item {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}


.burger {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    position: relative;
}

.burger__photo {
    flex: 1;
    padding: 16px 0;

    &__img {
        max-width: 100%;
    }
}

.btn--burger {
    display: inline-block;
    margin-left: 5px;
    
}

.burger__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 15px;
}

.burger__order {
    display: flex;
    align-items: baseline;
}

.burger__price {
    color: #e35028;
    font-family: 'Gagalin-Regular';

    &--num {
        font-size: 70px;
    }

    &--text {
        font-size: 30px;
    }
}
