.contact {
  position: relative;
  background: url(./img/map.png) center center / cover no-repeat;
}



.footer {
  background: url(./img/bg-footer.png) center center / cover no-repeat;
  position: absolute;
  
  bottom: 0;
  padding: rem(15px) 0;
  width: 100%;   
}

.container--footer {
  flex-direction: row;
  justify-content: space-between;

    @include tablets {
      font-size: rem(14px);
    }

  @include phones {
    flex-direction: column;
    justify-content: center;

  }

}

.footer__tel-wrapp {
  
  @include phones {
    text-align: center;
    display: flex;
    justify-content: center;

  }
}
.footer__tel-wrapp {
  color: #e45028; 
  fill: #e45028;

  font-family: "Ubuntu";
  font-weight: 300;

  display: flex;
  margin-top: rem(10px);

}
.tel-icon {
  margin-right: rem(5px);

  &-svg {
    width: rem(13px);
    height: rem(13px);
  }
}

.social__list {
  display: flex;
  align-items: center;

  @include phones {
    margin-top: rem(15px);

  }
}

.social__item {
  margin-left: rem(20px);

  &:first-child {
    margin-left: 0;
  }


  &-svg {
    width: rem(25px);
    height: rem(20px);
    fill: #585858;
  }
  &-svg:hover {
    fill: #fff;
  }
}

.social__link {
  display: block;
}