.contact {
  position: relative;
  background: url(./img/map.png) center center / cover no-repeat;
}



.footer {
  background: url(./img/bg-footer.png) center center / cover no-repeat;
  position: absolute;
  
  bottom: 0;
  height: rem(55px);
  width: 100%;
  @include phones {
    height: rem(115px);

  }
   
}

.container--footer {
  width: 100%;
  max-width: rem(940px);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    justify-content: center;

  }

}

.footer__tel-wrapp {
  
  @include phones {
    text-align: center;
    display: flex;
    justify-content: center;

  }
}
.footer__tel-wrapp {
  color: #e45028; 
  fill: #e45028;

  font-family: "Ubuntu";
  font-weight: 300;

  display: flex;
  margin-top: rem(10px);

}
.tel-icon {
  margin-right: rem(5px);

  &-svg {
    width: 10px;
    height: 10px;
  }
}

.social__list {
  display: flex;
  align-items: center;

  @include phones {
    margin-top: rem(15px);

  }
}

.social__item {
  fill: #585858;
  margin-left: rem(20px);

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    fill: #fff;
  }

  &-svg {
    width: 25px;
    height: 20px;
  }
}
