.contact {
    background: url(../../img/bg-contact.png) center center / cover no-repeat;
}

.form {
    height: 100%;
}

.form__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}