.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Ubuntu";
  font-weight: 600;
  margin-top: rem(15px);
}

.header__btns {
  display: flex;
  align-items: center;
}

.nav {
    
  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }

}
.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__link {
  font-size: rem(13px);

  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.nav__link::before {
  content: "";
  display: block;
  height: rem(4px);
  width: rem(4px);
  border-radius: 50%;
  background: #fff;
  margin: 0 rem(15px);
}

.nav__item:first-child .nav__link::before {
  display: none;
}

.btn {
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;

  background: #e45028;
  padding: rem(10px) rem(10px);
  border-radius: rem(5px);
  opacity: 1;

  &--magin-left {
    margin-left: rem(15px);
  }

  &--flex-start {
    align-self: flex-start;

    
  }

  &--color-for-black {
    background: rgb(63, 43, 41);
  }
   
  @include tablets {
      margin-right: rem(30px);
  }

  @include phones {
      margin-right: rem(30px);
  }
}