
.hero {
    background: url(../../img/bg-hero.png) center center / cover no-repeat;
    
}

.hero-content {
    display: flex;
    align-content: center;
    
    @include tablets {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    
    @include phones {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

}

.hero-content, .hero__img, .hero__burger-pic {
    width: 100%;
    
    @include tablets {
        width: 85%;
        align-items: center;
    }

    @include phones {
        width: 95%;
        align-items: center;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(15px);
    
    @media (max-width:768px) {

        margin-left: 0;
        margin-top: rem(40px)
    }

}

.hero__desc {
    font-size: rem(65px);
    font-family: "Lifehack-Medium";
    padding-top: rem(55px);

    @include tablets {
        padding-top: rem(50px);
    }
    
    @include phones {
        padding-top: rem(30px);
    }
}

.arrow {
    margin-bottom: rem(35px);
    
}