
.hero {
    background: url(./img/bg-hero.png) center center / cover no-repeat;
}

.hero-content {
    display: flex;
    align-content: center;
    
    @include tablets {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    
    @include phones {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

}

.hero__text, .hero__img {
    width: 50%;
}

.hero__burger-pic {
    
    @include tablets {
        width: 75%;
        align-items: center;
    }

    @include phones {
        width: 75%;
        align-items: center;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(5px);
    


    @include tablets {

        margin-left: 0;
        margin-top: rem(40px)
    }


}

.hero__desc {
    font-size: rem(65px);
    font-family: "Lifehack-Medium";

}

.arrow {
    margin-bottom: rem(35px);
    display: block;
    
    @include phones {
        margin-bottom: rem(30px);
    }

    &-svg {
        width: 30px;
        height: 18px;
    }
}