.hamburger-menu {
  position: relative;
  height: rem(20px);
  width: rem(20px);
  display: none;
  
   @include tablets {
     display: block;
     margin-left: rem(30px);
    }
  

  &--checked {
    z-index: 100;

    .hamburger-menu__line::before {
      transform: rotate(45deg);
    }
    
    .hamburger-menu__line::after {
      transform: rotate(-45deg);
    }
    
    .hamburger-menu__line {
      width: 0;
    }
    
    
  }
}

.hamburger-menu__line,
.hamburger-menu__line::before,
.hamburger-menu__line::after {
  position: absolute;
  top: 50%;
  margin-top: rem(-1px);
  height: rem(2px);
  width: rem(20px);
  background: #c1c2c2;
  border-radius: rem(1px);
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: '';
}

.hamburger-menu__line::before {
  transform: translateY(rem(-5px));
}

.hamburger-menu__line::after {
  transform: translateY(rem(5px));
}
