.review {
  background: #fff;
}
.reviewe__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviewe__item {
  width: 25%;
  height: 50%;
  filter: grayscale(100%);

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }

  @include tablets {
    width: 50%;
    height: 25%;
  }

  @include phones {
    width: 50%;
    height: 25%;
  }
}

.reviews__hover {
  transition: .4s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, .5);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10%;

  
  @include tablets {
    text-align: center;
  }
}

.review__title {
  font-size: rem(14px);
  font-family: "Gagalin-Regular";
  
  @include phones {
    font-size: rem(24px);
  }
}

.reviewe__text {
  font-size: rem(14px);
  line-height: rem(24px);
  font-family: "Ubuntu";
  font-weight: 300;

  margin-top: 8%;
  margin-bottom: 5%;
  
  @include tablets {
    margin-top: 8%;
    margin-bottom: 5%;
  }

  @include phones {
    display: none;
  }
}

.btn--reviewe {
  
  @include tablets {
      align-self: center;
  }
  
  @include phones {
    display: none;
  }
}

.btn--reviewe-phones {
  display: none;
  @include phones {
    display: block;
    align-self: center;
    margin: 0;
    margin-top: rem(30px);

  }
}