.review {
  background: #fff;
}
.reviewe__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviewe__item {
  width: 25%;
  height: 50%;
  filter: grayscale(100%);

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, .5);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
}

.review__title {
  font-size: 14px;
  font-family: "Gagalin-Regular";
}

.reviewe__text {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;

  margin-bottom: 20px;
  margin-top: 30px;
}

