.team {
  background: url(./img/bg-team.png) center center / cover no-repeat;
  position: relative;
}

.container--team {
  height: 100%;
  width: 50%;
  margin: 0 auto;

  background: rgba(#000, .75);
  position: absolute;

  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title--team {
  margin-left:95px;
}

.team__list {
  margin-top: 40px;
}

.team_item {
  list-style-type: none;

  display: flex;
  align-content: center;
  position: relative;

  margin-left:95px;
  margin-right: 95px;
  padding-bottom: 35px;
  
  &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #f9b43b;
      margin-top: 10px;
      margin-right: 9px;

      &--cheched {
      
          &::before {
              border-bottom: 8px solid #f9b43b;

          }
      }
  }   
 
}

.team__title{
  font-size: 20px;
  font-family: "Gagalin-Regular";


  &--checked {    
    color: #f9b43b;
  }

}

.team__content {
  height: 0;
  overflow: hidden;

  &--checked {
      display: flex;
      padding-top:10px;
  }

}

.team__img-wrapp {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  
  flex: 0 0 auto;
}

.team__text {
  
  margin-left: 20px;
}
.team__position {

  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 700;

  padding-bottom: 10px;
}

.team__desc {

  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;

}