//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "./css/_misc/normalize.scss";

//reset
@import "./css/_misc/reset.scss";

// setups
@import "./css/_misc/mixin.scss";
@import "./css/_misc/fonts.scss";
@import "./css/blocks/base.scss";





// blocks
@import "./css/blocks/humburger-menu.scss";
@import "./css/blocks/scroll-btn.scss";
@import "./css/blocks/sideMenu.scss";
@import "./css/blocks/header.scss";
@import "./css/blocks/hero.scss";
@import "./css/blocks/beast.scss";
@import "./css/blocks/review.scss";
@import "./css/blocks/tiam.scss";
@import "./css/blocks/menu.scss";
@import "./css/blocks/order.scss";
@import "./css/blocks/contact.scss";
@import "./css/blocks/burgers.scss";
@import "./css/blocks/mobile-menu.scss";
@import "./css/blocks/modal.scss";
@import "./css/blocks/composition.scss";
