//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "./css/_misc/normalize.scss";

// setups
@import "./css/_misc/fonts.scss";
@import "./css/_misc/fonts.scss";




// blocks
@import "./css/blocks/hero.scss";
@import "./css/blocks/beast.scss";
@import "./css/blocks/review.scss";